.review1 {
  background: rgb(163, 155, 155);
}

.review2 {
  background: purple;
  color: white;
}

.review3 {
  background: pink;
}

.review4 {
  background: blue;
  color: white;
}

.review5 {
  background: pink;
}

.review6 {
  background: lightslategrey;
}

.review1,
.review2,
.review3,
.review4,
.review5,
.review6 {
  border-radius: 0.5rem;
}

h3,
p {
  margin: 1rem;
}

.review-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.grid-col-span-2 {
  grid-column: span 2;
}

.review6 {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

/*Review form*/

.review {
  display: flex;
  justify-content: center;
}

form label,
#message,
#city,
button {
  display: block;
  margin-bottom: 0.4rem;
}

.submit-btn {
  width: 5rem;
  height: 2rem;
  background: rgb(144, 209, 144);
  border: aquamarine;
  border-radius: 0.5rem;
  font-family: "Courier New", Courier, monospace;
}

.submit-btn:hover {
  cursor: pointer;
  background: cornflowerblue;
  width: 6rem;
  height: 3rem;
}
