*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;    
}

/*Header*/
.header {
  background-image: url(/img/navigation.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
}

.header div {
  padding: 2rem;
  text-transform: uppercase;
}

/*Navigation*/

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding: 1rem;
  background: rgb(243, 143, 160);
}

.nav-list li {
  list-style: none;  
}

.nav-list a {
  padding: 1rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
}

.nav-list a:hover {
  background: rgb(255, 255, 255); 
  color: rgb(218, 38, 68);
  cursor: pointer;
}

/*Banner*/
.main-banner {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto;    
}

.main-banner img{
  width: 40rem;
  height: auto;
  object-fit: contain;
}

/*Main*/
.main-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.single-flowers,
.bouquets,
.compositions {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;   
  gap: 2rem;      
}

.single-flowers img,
.bouquets img,
.compositions img {
  width: 15rem;
  height: 20rem;
  object-fit: cover;
  transition: all 1s ease-in 400ms,
} 

.single-flowers img:hover,
.compositions img:hover{
  width: 105%;
}

figure {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    align-items: center;
}

figcaption {
  padding: 1rem 5rem;
  background: rgb(243, 143, 160);    
}

figcaption:hover {
  background: rgb(119, 136, 153);  
}

figcaption a {    
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;    
  text-decoration: solid;    
}

#blackheart{
  position:static; 
}

.buy-btn {
  width: 5rem;
  height: 2rem;    
  border: 0.1rem solid rgb(184, 187, 186);
  border-radius: 0.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  background-color:rgb(218, 38, 68);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 1s ease 200ms;
}

.buy-btn:hover {
  width: 7rem;
  height: 3rem;
  cursor: pointer;  
  font-size: large;
  transition: 0.3s ease;
}

h2{
  width: 85%;   
  margin: 0 auto 1rem;
  padding: 1rem;    
  background: rgb(224, 77, 102);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
}  

.more-btn {
  width: 10rem;
  height: 3rem;
  margin: 1rem auto 5rem;   
  background: rgb(119, 136, 153);
  border: 0.1rem solid rgb(184, 187, 186);
  border-radius: 0.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
  color: rgb(255, 255, 255);
  cursor: pointer;    
}

.up-btn{
  width: 3rem;
  height: 2.5rem;
  border: none;    
}

#bouquet-caption {
  display: none;
  width: 15rem;
  height: auto;
  padding: 0.5rem;  
  background: rgb(243, 143, 160);
  text-align: justify;  
  
}

#banner2, #banner3{
  display: none;
}

#blackheart, #pinkheart
 {
  width: 2rem;
  height: auto;
}

#pinkheart{
  display: none;
}

#arrow-left, #arrow-right{
  width: 10rem;
  justify-self: center;
}

#order{
  width: fit-content;
  height: auto;  
  position: fixed;
  right: 2rem;
  top: 15rem;
  padding: 1rem;    
  background: rgb(243, 143, 160);
  border: 0.1rem solid rgb(184, 187, 186);
  border-radius: 0.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  font-size: large;
  font-weight: bold;
  color: rgb(255, 255, 255);
  cursor: pointer; 
}

#form{
  width: fit-content; 
  position: fixed;
  top: 20rem;
  right: 2rem;
  margin: 0 auto;
  padding: 1rem;  
  background-color: rgb(184, 187, 186);
  border: 2px solid rgb(243, 143, 160);
  border-radius: 0.9rem;  
  display: none;
}

.uil .uil-multiply{
  justify-self: right;
}

#order-complete{
  width: 20rem;
  height: 10rem;
  position: fixed;
  top: 20rem;
  right: 2rem;
  background-color: rgb(184, 187, 186);
  border: 2px solid rgb(243, 143, 160);
  border-radius: 0.9rem;  
  display: none;
}


